# Environnements virtuels
venv/
backend/venv/

# Fichiers temporaires Python
__pycache__/
*.pyc

# Environnements Node.js
node_modules/
candidat-frontend/node_modules/

# Fichiers sensibles
.env

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers lourds inutiles
*.dll
*.lib

